body{
  padding-left: 20px;
}

header{
  background-color: #aaaaaa;
}
header h1{
  font-size: 40px;
  background-color: #afeded;
}
.nav{
  margin: auto;
}
.nav ul{
  display: flex;
}
.nav ul li{
  flex-grow: 1;
}
.main{
  background-color: #afeded;
}
footer ul li{
  display: inline;
  padding: 100px;
}
.title{
  background-color:aquamarine;
  width: 30%;
  margin-bottom: 50px;
  text-align: center;
}